<?

return [
    // параметры подключения к БД
    "DB" => [
        "server" => "",
        "user" => "",
        "password" => "",
        "name" => ""
    ],

    // режим разработки
    "DEV_MODE" => 1
];

?>