<?

return [
    // параметры подключения к БД
    "DB" => [
        "server" => "",
        "user" => "",
        "password" => "",
        "name" => ""
    ],

    // режим разработки
    "DEV_MODE" => 1,

    // папка фотографий пациентов
    "PATIENT_PHOTO_PATH" => "/static/images/upload/patient/"
];

?>