<?

return [
    // параметры подключения к БД
    "DB" => [
        "SERVER" => "@DB_SERVER@",
        "USER" => "@DB_USER@",
        "PASSWORD" => "@DB_PASSWORD@",
        "NAME" => "@DB_NAME@"
    ],

    // режим разработки (отображение дебага функцией "p" и ошибок от интерпритатора php)
    "DEV_MODE" => @DEV_MODE@,

    // папка фотографий пациентов
    "PATIENT_PHOTO_PATH" => "@PATIENT_PHOTO_PATH@"
];

?>